body {
  overflow-x: hidden;
  font-family: Nunito, Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 60;
  font-size: 14px;
  line-height: 19px;
  letter-spacing: 1.35px;
  text-transform: uppercase;
  color: #4f4f4f;
}

#t1 {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 45px;
  line-height: 53px;
  align-items: center;
  text-align: center;
  letter-spacing: 1.35px;
  text-transform: uppercase;
  color: #fcfcfc;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#t2 {
  font-family: Nunito;
  font-style: normal;
  font-weight: normal;
  font-size: 25px;
  line-height: 34px;
  align-items: center;
  text-align: center;
  letter-spacing: 1.35px;
  text-transform: uppercase;
  color: #fcfcfc;
  margin-bottom: 50px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.botao {
  font-family: Montserrat, Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  align-items: center;
  text-align: center;
  letter-spacing: 1.35px;
  text-transform: uppercase;
  color: #fcfcfc;
  background: #ff471f;
  border-radius: 15px;
  border: 2px #ff471f;
  box-shadow: 0px 4px 250px #000000;
  padding-left: 40px;
  padding-right: 40px;
}

/* NAVBAR */
.caption .botao:hover {
  color: #ff471f;
  border: 2px solid #ff471f;
}

hr {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  background: #fcfcfc;
  height: 3px;
}

.navbar {
  background: #fcfcfc;
}

.navbar a {
  color: #ff471f !important;
}

.navbar-toggler {
  padding-top: 6px;
  width: 47px;
  height: 34px;
  background-color: #fcfcfc;
  border: solid 2px #ff471f;
}

.navbar-brand img {
  padding-left: 43px;
}

.navbar-toggler .line {
  width: 100%;
  float: left;
  height: 2px;
  background-color: #ff471f;
  margin-bottom: 5px;
}

.nav-link::after {
  content: "";
  display: block;
  width: 0;
  margin-top: 4px;
  height: 1px;
  background: #ff471f;
  transition: 0.6s;
}

.nav-link:hover::after {
  width: 100%;
  transition: 0.5s;
}

.navbar-nav li {
  padding: 0 25px;
  font-family: Nunito;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 25px;
  align-items: center;
  text-align: center;
  letter-spacing: 1.35px;
  text-transform: uppercase;
}

/* INICIO */
.home-inner {
  position: fixed;
  width: 100%;
  height: 100%;
  background: url(../img/background.jpg);
  background-size: cover;
  overflow: hidden;
}

.caption {
  width: 100%;
  max-width: 100%;
  position: absolute;
  top: 38%;
  z-index: 1;
}

.banner {
  position: relative;
  width: 100%;
  height: 100vh;
  display: table;
  z-index: -1;
}

.home-wrap {
  clip: rect(0, auto, auto, 0);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.home-inner {
  position: fixed;
  display: table;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  transform: translateZ(0);
  will-change: transform;
}

/* QUEM SOMOS */
#quem {
  background: #f7f2e5;
}

.qtitulo {
  padding-top: 75px;
  padding-bottom: 40px;
}

.thin {
  font-family: Roboto;
  font-size: 45px;
  color: #4f4f4f;
  font-weight: 100;
}

.bold {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 45px;
  line-height: 53px;
  text-align: center;
  letter-spacing: 1.35px;
  text-transform: uppercase;
  text-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  color: #4f4f4f;
}

.qimg {
  width: 779px;
  height: 520px;
}

.infot {
  padding-top: 52px;
}

.info {
  font-family: Nunito;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 19px;
  text-align: justify !important;
  letter-spacing: 1.35px;
  text-transform: uppercase;
  color: #4f4f4f;
  padding: 55px 200px 100px 200px;
  margin-bottom: 0px !important;
}

/* CLIENTES */
#clientes {
  background: rgba(251, 183, 84, 0.6);
  margin-top: 5px;
}

#clientes span {
  font-weight: 500;
}

.owl-carousel img {
  background: #fcfcfc;
  box-shadow: 3px 4px 8px rgba(0, 0, 0, 0.55);
  border-radius: 50%;
  max-width: 60%;
  margin: 5px auto;
}

.item {
  margin-bottom: 15px;
}

.item img:hover {
  filter: brightness(130%);
  box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.55);
}

/* PORTIFOLIO */
#portfolio {
  font-weight: 500;
  background: #f7f2e5;
  margin: -8px;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 0 60px;
}

.anchor {
  position: relative;
  top: -80px;
  visibility: hidden;
}

.portfolio-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.box {
  position: relative;
  width: 391px;
  height: 339px;
  background: #000;
  box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.55);
  margin: 15px;
}

.box .imgBx {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.box .imgBx img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.5s;
}

.box:hover .imgBx img {
  opacity: 0;
}

.box .portfolio-conteudo {
  position: absolute;
  bottom: 20px;
  left: 10%;
  width: 80%;
  height: 60px;
  background: #f7f2e5;
  transition: 0.5s;
  overflow: hidden;
  padding: 15px;
  box-sizing: border-box;
}

.box:hover .portfolio-conteudo {
  width: 100%;
  height: 100%;
  bottom: 0;
  left: 0;
}

.box .portfolio-conteudo h3 {
  margin: 0;
  padding: 0;
  font-size: 20px;
}

.box .portfolio-conteudo p {
  margin: 10px 0 0;
  padding: 0;
  opacity: 0;
  line-height: 1.2em;
  transition: 0.5s;
  text-align: justify;
}

.box:hover .portfolio-conteudo p {
  opacity: 1;
  transition-delay: 0.3s;
}

/* SERVIÇOS */
#servicos {
  background: rgba(251, 183, 84, 0.6);
}

/* CONTATO  */
.contatoMapa {
  background: #f7f2e5 !important;
  padding-bottom: 67px;
}

.form-style-1 {
  margin: 10px 100px;
  padding: 20px 12px 10px 20px;
}

.form-style-1 li {
  padding: 0;
  display: block;
  list-style: none;
  margin: 10px 0 0 0;
}

.form-style-1 input[type="text"],
.form-style-1 input[type="number"],
.form-style-1 input[type="email"],
textarea {
  box-sizing: border-box;
  border: none;
  padding: 7px;
  margin: 0px;
  outline: none;
  background: #bdbdbd;
  border-radius: 7px;
  margin-bottom: 41px;
  height: 46px;
}

.form-style-1 input[type="text"]:focus,
.form-style-1 input[type="number"]:focus,
.form-style-1 input[type="email"]:focus,
.form-style-1 textarea:focus {
  box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.55);
  border: 1px solid #ff471f;
}

::placeholder {
  color: #000;
  padding-top: 65px;
  font-family: Nunito;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 1.35px;
  text-transform: uppercase;
  color: #000000;
}

.form-style-1 .field-divided {
  width: 49%;
}

.form-style-1 .field-long {
  width: 100%;
}

.form-style-1 .field-textarea {
  height: 172px;
}

.form-style-1 input[type="submit"],
.form-style-1 input[type="button"] {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 37px;
  letter-spacing: 1.35px;
  text-transform: uppercase;
  color: #fcfcfc;
  background: #ff471f;
  border-radius: 15px;
  border: none;
  padding: 10px 80px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.buttonHolder {
  text-align: center;
}

.form-style-1 input[type="submit"]:hover,
.form-style-1 input[type="button"]:hover {
  background: #fcfcfc;
  color: #ff471f;
  border: 2px solid #ff471f;
}

.formulario h1,
.mapa h1 {
  text-align: center;
  margin-bottom: 123px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 45px;
  line-height: 53px;
  align-items: center;
  letter-spacing: 1.35px;
  text-transform: uppercase;
  color: #4f4f4f;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.responsive-map {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
  border-radius: 25px;
  margin: 10px 100px;
}
.responsive-map iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}

/* Media queries */
/* - */

@media (max-width: 538px) {
  .info {
    padding: 0 0 25px 0;
  }

  svg {
    margin: 0;
    padding: 0;
  }

  .caption {
    top: 18%;
  }

  #t1 {
    padding-top: 20px;
    font-size: 35px;
  }

  #t2 {
    font-size: 20px;
  }

  .botao {
    margin-top: -20px;
    padding-left: 25px;
    padding-right: 25px;
  }

  .qimg,
  .pimg {
    width: auto;
    height: auto;
  }

  .form-style-1 {
    margin: 10px 0;
    padding: 20px 12px 10px 20px;
  }

  .responsive-map {
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
    height: 0;
    border-radius: 25px;
  }
  .mapa h1 {
    text-align: center;
  }
}
